{% include 'base.html'%}
<body>
<main data-barba="container" data-barba-namespace="home">
    <!-- Page Content-->
    <div class="section section-image" style="background-image: url('../static/assets/home/Home wallpaper.jpg'); background-size: cover; height: 1252px; background-repeat:no-repeat;">
        <div class="col px-lg-5">
            <!-- Page Features-->
            <div class="row">
                <div class="col m-3">
                    <div class="card shadow-lg w-100 h-100">
                        <div class="card-body">
                            <div class="d-flex justify-content-center">
                                <div class="text-end">
                                    <label class="fs-2 fw-bold" style="padding-left: 10px">Inventory</label>
                                </div>
                                <a href="/inventory" class="stretched-link"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col m-3">
                    <div class="card shadow-lg w-100 h-100">
                        <div class="card-body">
                            <div class="d-flex justify-content-center">
                                <div class="text-end">
                                    <label class="fs-2 fw-bold" style="padding-left: 10px">Rents</label>
                                </div>
                                <a href="/rents" class="stretched-link"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer-->
    {%include 'footer.html'%}
</main>
</body>

